@import 'impress.css';

h1 {
	font-size: 55px;
	text-align: center;
}

#title h1 {
	margin-top: 130px;
}

.footer {
	position: absolute;
	left: 50px;
	bottom: 50px;
}
#overview {
	font-size: 115px;
}
#impress.step-allslides .step {
	opacity: 1;
	cursor: pointer;
}
#allslides {
	z-index: -50;
}
h2 {
	font-size: 40px;
	margin-top: 10px;
}
#impress[class*='step-overview-'] #overview {
	opacity: 1;
}
#impress[class*='step-overview-'] #overview span {
	opacity: 0.3;
}
#impress.step-overview-pi #overview #project-intro {
	opacity: 1;
}
#impress.step-overview-ob #overview #objectives {
	opacity: 1;
}
.slide-image {
	margin-left: -38px;
	margin-top: 20px;
}