@import 'impress.css';

h1 {
	font-size: 55px;
	text-align: center;
}

#title h1 {
	margin-top: 130px;
}

.footer {
	position: absolute;
	left: 50px;
	bottom: 50px;
}
#overview {
	font-size: 115px;
}
#impress.step-allslides .step {
	opacity: 1;
	cursor: pointer;
}
#allslides {
	z-index: -50;
}
h2 {
	font-size: 40px;
	margin-top: 10px;
}
#impress[class*='step-overview-'] #overview {
	opacity: 1;
}
#impress[class*='step-overview-'] #overview span {
	opacity: 0.3;
}
#impress.step-overview-pi #overview #project-intro {
	opacity: 1;
}
#impress.step-overview-ob #overview #objectives {
	opacity: 1;
}
.slide-image {
	margin-left: -38px;
	margin-top: 20px;
}
.step .centered-img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.centered-txt {
	text-align: center;
}
#projectname {
	height: 700px;
}
#projectname p {
	width: 600px;
	position: absolute;
	bottom: 50px;
	margin-left: 50%;
	left: -300px;
}
#impress.step-overview-m #overview #mobile {
	opacity: 1;
}
#mitigation img {
	border: solid 1px gray;
}
#mitigation p {
	font-size: small;
}
#why h1 {
	margin-bottom: 250px;
}
#health p {
	text-align: center;
}
#app-type span {
	font-size: 55px;
	line-height: 120px;
}
#app-type h1 {
	margin-bottom: 80px;
}
.footnote {
	font-size: 20px;
	text-align: center;
	color: gray;
	position: absolute;
	width: 100%;
	bottom: 0px;
}
.pro {
	background-color: #80A894;
}
.con {
	background-color: #9E8A8A;
}
.pro-con {
	margin: 200px;
	text-align: center;
	border-radius: 10px;
}